/* This is the main CSS style sheet */

.stack {
    position: absolute;
    top: 0.43cm;
    left: 15cm;
}


#cs {
    position: relative;
    top: -0.12cm;
}

#keyPair2 {
    position: relative;
    top: -4.72cm;
    left: 18.0cm;
}

#genKeys {
    position: relative;
    top: -4.72cm;
}